<html>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<meta http-equiv="Content-Security-Policy" content="
        default-src 'none';
        style-src 'self' 'unsafe-inline';
        img-src 'self' data;
        " />
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Znamenitosti </a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" (ngModelChange)="pretragaZnamenitosti(key.value)" [(ngModel)]="key" #key=ngModel  ngModel
           name="key" placeholder="Search" aria-label="Search">
    <button class="btn btn-light my-sm-0" type="submit">Search</button>
  </form>

</nav>
<div class="container">
  <div class="row">
    <div *ngFor="let znamenitost of znamenitosti" class="col-md-6 col-xl-3">
      <div class="card m-b-30">
        <div class="card-body row">
          <div class="col-6">
            <a href=""><img src="{{znamenitost?.slika}}" alt="" class="img-fluid rounded-circle w-60"></a>
          </div>
          <div class="col-6 card-title align-self-center mb-0">
            <h5>{{znamenitost?.naziv}}</h5>
            <p class="m-0">{{znamenitost?.opis}}</p>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Mjesto : <a href="#">{{znamenitost?.opcina}}, {{znamenitost?.drzava}}</a></li>
          <li class="list-group-item">Lat:{{znamenitost?.lat}} | Lon:{{znamenitost?.lon}}</li>
        </ul>
        <div class="card-body">

          <li class="list-group-item">Ocjeni:{{znamenitost?.ocjena}}</li>
          <li class="list-group-item">Prosjek ocjene{{znamenitost?.prosjekocjene}}</li>



        </div>
      </div>
    </div>



  </div>
</div>
</html>
